@if (open()) {
  <div class="modal-layer">
    <div
      class="modal-backdrop fixed inset-0"
      tabindex="-1"
      (click)="onBackdropClick()"
      aria-hidden="true"
    ></div>

    <div
      #dialogEl
      [class]="'modal-sheet modal-sheet--' + size()"
      [attr.role]="role()"
      [attr.data-role]="role()"
      aria-modal="true"
      [attr.aria-labelledby]="titleId"
      tabindex="-1"
      (keydown)="onKeydown($event)"
    >
      <div class="modal-head">
        <h2 #titleEl [id]="titleId" tabindex="-1" class="modal-title">
          {{ title() }}
        </h2>
        <app-button
          class="modal-close"
          variant="ghost"
          size="sm"
          [iconOnly]="true"
          ariaLabel="Close"
          i18n-ariaLabel="Modal close button label@@modal.close"
          (pressed)="onCloseButtonClick()"
        >
          <app-icon name="x" size="md" />
        </app-button>
      </div>

      <div class="modal-body">
        <ng-content select="[modalBody]"></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[modalFooter]"></ng-content>
      </div>
    </div>
  </div>
}
